PORT=3000

API_KEY=your_api_key_here

MONGODB_URI=mongodb://127.0.0.1:27017/e-learning

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
